@font-face {
  font-family: 'Norse';
  src: url('fonts/Norse-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: black;
  margin: 0;
  line-height: 1.2;
}

.img-sidebar {
  position: relative;
}

.odin-outer-logo-container {
  display: flex;
  align-items: flex-end;
  color: #e5b72d;
  height: 30%;
  width: 100%;
  position: absolute;
}

.logo-container {
  padding: 14px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #000000bf;
}

.odin-logo {
  width: 20%;
}

.odin-span {
  padding-top: 16px;
  font-size: 4rem;
  font-family: Norse, Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 1.2px;
  text-align: center;
}

.wrapper {
  width: 100%;
}

header {
  display: flex;
  align-items: flex-end;
  letter-spacing: 1.2px;
}

p, main {
  padding: 0px 35px 0px 35px;
}

.form-wrap-container {
  font-size: 1.8rem;
  font-family: Norse, Verdana, Geneva, Tahoma, sans-serif;
  height: 30%;
  background-color: #faebd712;
}

.form-container {
  background: white;
  height: 40%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 20px;
}

.main-container {
  display: flex;
  min-height: 100vh;
  width: 79%;
  margin: 0 auto;
  background-color: white;
}

.img-sidebar {
  width: 40%;
}

img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  user-select: none;
}