@font-face {
  font-family: 'Norse';
  src: url('fonts/Norse-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: black;
  margin: 0;
}

.wrapper {
  margin: 0px 40px 0px 40px;
}

.form-wrap-container {
  display: flex;
  align-items: flex-end;

  font-family: Norse, Verdana, Geneva, Tahoma, sans-serif;
  height: 30%;
}

.main-container {
  display: flex;
  min-height: 100vh;
  width: 79%;
  margin: 0 auto;
  background-color: white;
}

.form-container {

}

.img-sidebar {
  width: 40%;
}

img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  user-select: none;
}